{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <!-- Display the title of the entry and the content of the entry --->
    <h1>{{ title }}</h1>

    <p>{{ entry|safe }}</p>

    <!-- Link to edit the entry -->
    <a class="btn btn-primary" id="edit_page_button" href="{% url 'encyclopedia:edit_page' title=title %}">Edit Page</a>
    <a class="btn btn-danger" id="delete_page_button" href="{% url 'encyclopedia:delete_page' title=title %}">Delete Page</a>

{% endblock %}